/* ===============================
   TELEGOLUB ICONS
================================ */

.icon-btn{

width:44px;
height:44px;

display:flex;
align-items:center;
justify-content:center;

border:none;

border-radius:50%;

background:transparent;

color:#b7c3d4;

font-size:20px;

cursor:pointer;

transition:.2s;

}

.icon-btn:hover{

background:#253548;

color:white;

transform:scale(1.08);

}

.icon-btn.blue:hover{

background:#3390ec;

}

.icon-btn.red:hover{

background:#ef4444;

}

.icon-btn.gold:hover{

background:#f59e0b;

}

.header-actions{

display:flex;

align-items:center;

gap:8px;

}

.chat-action{

display:flex;

align-items:center;

justify-content:center;

width:42px;

height:42px;

border-radius:50%;

transition:.2s;

cursor:pointer;

}

.chat-action:hover{

background:#253548;

}

.chat-action i{

font-size:20px;

color:#cbd5e1;

}

.chat-action:hover i{

color:white;

}

/* Меню */

.menu-button{

display:flex;

align-items:center;

justify-content:center;

width:46px;

height:46px;

border-radius:14px;

background:#243447;

cursor:pointer;

transition:.2s;

}

.menu-button:hover{

background:#3390ec;

}

.menu-button i{

font-size:22px;

color:white;

}
