/* ===========================
   TELEGOLUB MESSAGES
=========================== */

.messages{

display:flex;
flex-direction:column;
gap:12px;

padding:25px;

overflow-y:auto;

}

/* Пузырёк */

.message{

max-width:72%;

padding:12px 16px;

border-radius:20px;

position:relative;

animation:messageAppear .18s ease;

word-break:break-word;

line-height:1.45;

font-size:15px;

box-shadow:

0 8px 20px rgba(0,0,0,.18);

}

/* Полученные */

.message:not(.me){

align-self:flex-start;

background:#243447;

color:white;

border-bottom-left-radius:8px;

}

/* Мои */

.message.me{

align-self:flex-end;

background:#3390ec;

color:white;

border-bottom-right-radius:8px;

}

/* Текст */

.message-text{

white-space:pre-wrap;

}

/* Время */

.msg-time{

margin-top:8px;

font-size:11px;

opacity:.7;

text-align:right;

}

/* Галочки */

.message-checks{

margin-top:3px;

font-size:12px;

opacity:.8;

text-align:right;

}

/* Картинки */

.chat-image{

display:block;

max-width:320px;

border-radius:16px;

cursor:pointer;

transition:.2s;

}

.chat-image:hover{

transform:scale(1.02);

}

/* Голосовые */

audio{

width:260px;

margin-top:8px;

}

/* Подарок */

.gift-message{

display:flex;

align-items:center;

gap:15px;

padding:10px;

border-radius:18px;

background:linear-gradient(
135deg,
#2563eb,
#3b82f6
);

}

.gift-big{

font-size:54px;

}

.gift-info{

display:flex;

flex-direction:column;

}

.gift-info h3{

font-size:18px;

margin-bottom:4px;

}

.gift-info p{

font-size:13px;

opacity:.8;

}

/* Анимация */

@keyframes messageAppear{

from{

opacity:0;

transform:translateY(12px);

}

to{

opacity:1;

transform:none;

}

}
